body {
    background: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-family: Tahoma;
}

img{border:0px;}

/* MAIN  */
#main{
    margin:0px auto;
    width:998px;
    border-left:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
}

/* MENU-2 */
.menu{
    float:left;
    width:998px;
    height: 30px;
    margin-top: 25px;
}

.menu ul{
    margin:0px 20px;
    padding:0px;
}

.menu ul li{
    float:left;
    list-style:none;
    font-family:Arial;
    font-size:14px;
    margin-right:42px;
}

.menu .last{
    margin-right:0px;
}

.menu ul li a{
    color:#8a8a8a;
    display: block;
    text-decoration:none;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom:5px;

}

.menu ul li a:hover{
    border-bottom: 0px;
}

/* HEAD */
#head{

    float: right;
    width: 960px;
    padding:18px 0px;
}

/* HEAD LOGO */
#head-logo{
    float:left;
    height:53px;
    width: 242px;
    padding-left:50px;
    background-image:url(img/logo.png);
    background-repeat:no-repeat;
    background-position:center left;
    font-size:52px;
    font-family:"Century Gothic";
    line-height: 37px;
}

/* HEAD TEXT */
#head-text{
    float:left;
    font-family:"Century Gothic";
    text-align:center;
    color:#cfcfcf;
    font-size: 27px;
    margin-left: 100px;

}

/* HEAD TEXT */
#head-lang{
    float:right;

    font-family:"Century Gothic";
    margin-top: 8px;

    font-size:22px;

}

#head-lang a{
    color:#8a8a8a;
    padding:0 2px;
    text-decoration:none;
    display:block;
    float: left;
    background-color:#f2f2f2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

#head-lang a:hover{
    color:#fff;
    background-color: #000;

}

/* VIEW */
#view{
    float:left;
    border: 1px solid #dbdbdb;
    width:961px;
    height:315px;
    margin:10px 18px;
    background-image:url(img/bg1.png);
    background-repeat:no-repeat;

}

/* VIEW TEXT */
#view #view-text{
    float:left;
    margin:40px 0 0 40px;
    background-color:#fff;
    /*border:1px solid #dbdbdb;*/
    -moz-box-shadow: 0 0 7px #d3d3d3;
    -webkit-box-shadow: 0 0 7px #d3d3d3;
    box-shadow: 0 0 7px #d3d3d3;
    border-radius:10px;
    min-width:452px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}

/* VIEW BORDER */
#view #view-border{
    margin:15px;
    padding:15px;
    border:1px solid #dbdbdb;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}

/* CONTENT */
#content{
    float:left;
    margin: 3px 18px;
    width:961px;
}

/* CONTENT COLUMN */
#content .column{
    border: 1px solid #DBDBDB;
    float: left;
    height: 270px;
    margin: 0 2px 25px 0;
    padding: 6px 4px;
    width: 180px;

}

/* CONTENT COLUMN HEAD */
#content .column .column-head{
    float:left;
    width:180px;
}

.column-head p{
    margin:0px;
    text-align:left;
    padding-left:2px;
    font-size:15px;
    font-family:Arial;
}

/* CONTENT COLUMN CONTENT */
#content .column .column-content{
    float:left;
    font-size:12px;
    text-align:left;
    font-family:Tahoma;
    padding-left:7px;
}

.column-content img{
    padding-top:15px;
    text-align:center;
}

/* CONTENT COLUMN FOOTER */
#content .column .column-foot{
    float:left;
    width:170px;
    margin:5px;
    background-color:#c2c2c2;
    color:#686868;
    text-decoration:none;
    display:block;
    height: 21px;
    line-height: 18px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#content .column .column-foot:hover{
    color:#fff;
    background-color:#000000;

}

/* FOOTER */
#footer{
    float:left;
    width:953px;
    margin:20px;
    padding:10px 0px;
    text-align:center;
    font-family:Tahoma;
    font-size:12px;
    color:#a0a0a0;
    background-color:#f7f7f7;
}
